<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@yaireo/tagify@3.1.0/dist/tagify.css"/>
    <script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify@3.1.0/dist/tagify.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
</head>
<body>

<a th:href="@{'/collection?id=' + ${id} }">Back</a>

<form th:action="@{'/collection/addItem?id=' + ${id} }" method="post">
    <input type="hidden"
           th:name="${_csrf.parameterName}"
           th:value="${_csrf.token}"/>

    <input th:if="${itemId}" type="hidden" name="edit" th:value="${itemId}">
    <p>
    <h3>Name</h3>
    <label>
        <input th:value="${name}" type="text" name="name"/>
        <span th:text="${nameError}"></span>
    </label>

    <h3>Tags</h3>
        <label>
            <input name='tags' class='some_class_name' placeholder='write some tags'
                   th:value="${myTags}">
            <span th:text="${tagsError}"></span>
        </label>
        <script th:inline="javascript">
            const input = document.querySelector('input[name="tags"]'),
                tagify = new Tagify(input, {
                    whitelist: [[${tags}]],
                    maxTags: 10,
                    dropdown: {
                        maxItems: 20,
                        classname: "tags-look",
                        enabled: 0,
                        closeOnSelect: false
                    }
                });
        </script>
    <br>
    <button type="submit">
        <th:block th:if="${itemId}">Save</th:block>
        <th:block th:unless="${itemId}">Add</th:block>
    </button>
</form>
</body>
</html>