<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/">To Home Page</a>
<h4>
    <th:block th:text="${collection.name}"></th:block>
</h4>
<img th:src="${collection.image}" height="200" width="200">
<h5>Topic: </h5>
<th:block th:text="${collection.topic}"></th:block>
<h5>Description: </h5>
<th:block th:text="${collection.description}"></th:block>
<h5>Creator: </h5>
<th:block th:text="${creator}"></th:block>
<a th:if="${owner}" th:href="@{'/collection/addItem?id=' + ${collection.id} }">
    <button>Add item</button>
</a>

<h3>Items:</h3>
<table>
    <thead>
    <th>Id</th>
    <th>Name</th>
    <th>Tags</th>
    </thead>

    <th:block th:each="item : ${collection.items}">
        <tr>
            <td th:text="${item.id}"></td>
            <td th:text="${item.name}"></td>
            <td th:each="tag : ${item.tags}">
                <span th:text="${tag.name}"></span>
            </td>
            <td>
                <form th:action="@{'/collection?id=' + ${collection.id} }" method="post">
                    <input type="hidden" th:value="${item.id}" name="item">
                    <button type="submit">Delete</button>
                </form>
            </td>
            <td>
                <a th:href="'/collection/editItem?id=' + ${item.id}">
                    <button>Edit</button>
                </a>
            </td>
        </tr>
    </th:block>
</table>
</body>
</html>