<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <div>Profile
    <div style="float: right">
        <a href=/ title="Your profile">To Home Page</a>
    </div>
    </div>
</div>
<hr>
<form action="/profile/createCollection">
    <button>Create collection</button>
    <table>
        <thead>
        <th>Image</th>
        <th>Id</th>
        <th>Name</th>
        <th>Description</th>
        <th>Topic</th>
        </thead>

        <th:block th:each="collection : ${collections}">
            <tr>
                <td>
                    <img th:src="${collection.image}" width="100" height="100">
                </td>
                <td th:text="${collection.id}"></td>
                <td th:text="${collection.name}"></td>
                <td th:text="${collection.description}"></td>
                <td th:text="${collection.topic}"></td>
            </tr>
        </th:block>
    </table>
</form>
</body>
</html>